{% extends 'base.html' %}
{% load static %}

{% block main%}

<!-- Main Content -->
<main class="main-content">
    <div class="header">
        <h1>Bosh sahifa</h1>
    </div>

    <div class="tabs">
        <div class="tab active">Siz uchun</div>
        <div class="tab">Obuna bo'lganlar</div>
    </div>

    <!-- Compose Tweet -->
    <form class="compose" method="post" action="{% url 'tweet_create' %}">
        {% csrf_token %}
        <div class="compose-content">
            <div class="avatar">U</div>
            <div class="compose-form">
                <!-- Text input -->
                <label for="composeText" style="display:none;">Post matni</label>
                <textarea class="compose-textarea" id="composeText" name="content" placeholder="Nima bo'lyapti?"
                    rows="3"></textarea>

                <div class="compose-actions">
                    <div class="compose-icons">
                        <!-- 📷 Img upload -->
                        <label for="imageInput">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="compose-icon" style="fill: white; width: 40px; height: 40px; cursor:pointer;">
                                <path fill-rule="evenodd"
                                    d="M1 5.25A2.25 2.25 0 0 1 3.25 3h13.5A2.25 2.25 0 0 1 19 5.25v9.5A2.25 2.25 0 0 1 16.75 17H3.25A2.25 2.25 0 0 1 1 14.75v-9.5Zm1.5 5.81v3.69c0 .414.336.75.75.75h13.5a.75.75 0 0 0 .75-.75v-2.69l-2.22-2.219a.75.75 0 0 0-1.06 0l-1.91 1.909.47.47a.75.75 0 1 1-1.06 1.06L6.53 8.091a.75.75 0 0 0-1.06 0l-2.97 2.97ZM12 7a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </label>
                        <input type="file" id="imageInput" name="image" accept="image/*" style="display:none;" />

                        <!-- 😀 Emoji icon -->
                        <svg id="emojiBtn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            class="compose-icon" style="fill: white; width: 40px; height: 40px; cursor:pointer;">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.536-4.464a.75.75 0 1 0-1.061-1.061 3.5 3.5 0 0 1-4.95 0 .75.75 0 0 0-1.06 1.06 5 5 0 0 0 7.07 0ZM9 8.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S7.448 7 8 7s1 .672 1 1.5Zm3 1.5c.552 0 1-.672 1-1.5S12.552 7 12 7s-1 .672-1 1.5.448 1.5 1 1.5Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>

                    <button type="submit" class="tweet-btn" id="postBtn">Post</button>
                </div>

                <!-- 😍 Emoji panel -->
                <div id="emojiPanel"
                    style="display: none; background:#222; padding:10px; border-radius:10px; max-width:400px; flex-wrap:wrap;">
                    <span class="emoji">😀</span>
                    <span class="emoji">😁</span>
                    <span class="emoji">😂</span>
                    <span class="emoji">🤣</span>
                    <span class="emoji">😊</span>
                    <span class="emoji">😍</span>
                    <span class="emoji">😘</span>
                    <span class="emoji">😎</span>
                    <span class="emoji">🥳</span>
                    <span class="emoji">😢</span>
                    <span class="emoji">😭</span>
                    <span class="emoji">😡</span>
                    <span class="emoji">🤔</span>
                    <span class="emoji">🙄</span>
                    <span class="emoji">😴</span>
                    <span class="emoji">🐶</span>
                    <span class="emoji">🐱</span>
                    <span class="emoji">🐻</span>
                    <span class="emoji">🐼</span>
                    <span class="emoji">🐸</span>
                    <span class="emoji">🌸</span>
                    <span class="emoji">🌹</span>
                    <span class="emoji">🍎</span>
                    <span class="emoji">🍌</span>
                    <span class="emoji">🍕</span>
                    <span class="emoji">🍔</span>
                    <span class="emoji">⚽</span>
                    <span class="emoji">🏀</span>
                    <span class="emoji">🎉</span>
                    <span class="emoji">❤️</span>
                    <span class="emoji">💯</span>
                    <span class="emoji">✨</span>
                </div>

            </div>
        </div>
    </form>



    <!-- Timeline -->
    <div class="timeline" id="timeline">
        {% for i in post %}
        <article class="tweet">
            <div class="tweet-content">
                <div class="avatar">E</div>
                <div class="tweet-body">
                    <div class="tweet-header1">
                        <div class="tweet-header">
                            <span class="username">{{ i.user.first_name }}</span>
                            <span class="handle">@{{ i.user.username }}</span>
                            <span class="timestamp">{{ i.timestamp }}</span>
                        </div>
                    </div>
                    <div class="tweet-text">
                        {{ i.text }}
                    </div>
                    {% if i.img %}
                    <div class="tweet-img">
                        <img src="{{ i.img.url }}" alt="">
                    </div>
                    {% endif %}
                    <div class="tweet-actions">
                        <button class="action-btn reply">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5" style="width: 20px; height: 20px; ">
                                <path fill-rule="evenodd"
                                    d="M2 10c0-3.967 3.69-7 8-7 4.31 0 8 3.033 8 7s-3.69 7-8 7a9.165 9.165 0 0 1-1.504-.123 5.976 5.976 0 0 1-3.935 1.107.75.75 0 0 1-.584-1.143 3.478 3.478 0 0 0 .522-1.756C2.979 13.825 2 12.025 2 10Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="action-btn like" data-post-id="{{ i.id }}" data-action="like">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5" style="width: 20px; height: 20px;">
                                <path
                                    d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
                            </svg>
                        </button>
                        <button class="action-btn retweet">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5" style="width: 20px; height: 20px;">
                                <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                <path fill-rule="evenodd"
                                    d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="action-btn bookmark" data-post-id="{{ i.id }}" data-action="bookmark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5" style="width: 20px; height: 20px;">
                                <path fill-rule="evenodd"
                                    d="M10 2c-1.716 0-3.408.106-5.07.31C3.806 2.45 3 3.414 3 4.517V17.25a.75.75 0 0 0 1.075.676L10 15.082l5.925 2.844A.75.75 0 0 0 17 17.25V4.517c0-1.103-.806-2.068-1.93-2.207A41.403 41.403 0 0 0 10 2Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</main>

{% endblock %}
